- create
- indexing and slicing
- methods
- baisc operations
- comprehension

In [4]:
x = [] #empty list
a= [1,2,3,4] #numerical list
b= ['alex','alexa','alesis'] #text list
c= ['alex',12,'alexa',15]#mixed list
d=[[1,2,3],[2,3]]#nested list
e=[[1,2,3],[4,5,6,],[7,8,9]]#nested list(equal length can be used as matrix)

In [3]:
w=[1]*10 #list duplication (repitition)
print(w)

w2=[1,2,3]*3 #list duplication (replition)
print(w2)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [2]:
a=[1,2,3]
b=[4,5,6]
c=a+b #list concatenation
print(c)

d=[a,b]#nested list
print(d)

[1, 2, 3, 4, 5, 6]
[[1, 2, 3], [4, 5, 6]]

In [6]:
x=[1,2,3,4,5,6,7,8,9,10]
print(x[:3]) #first 3 items
print(x[-4:]) #last 4 items
print(x[3:-3]) #middle items

print(x)
print(x[::-1]) #reverse list
print(x[::2]) #all elements with even index
print(x[1::2]) #all elements with odd index

[1, 2, 3]
[7, 8, 9, 10]
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [5]:
print(x[0])#first element
print(x[-1]) #last element

IndexError: list index out of range

In [7]:
#travelsl 
for i in x:
    print(i,)

1
2
3
4
5
6
7
8
9
10

methods
- add
  - append
  - extend
  - insert

- remove
  - remove
  - pop
  - clear

- helper
  - index
  - count
  - sort 
  - reversee
  - copy

In [9]:
books = []
books.append("The Final Empire")
books.append("The Well of Ascension")
books.append("The Hero of Ages")
books.append("Warbreaker")

books

['The Final Empire', 'The Well of Ascension', 'The Hero of Ages', 'Warbreaker']

In [10]:
books.insert(1,'The Way of kings')
books.insert(4,'Words of Radiance')

books

['The Final Empire',
 'The Way of kings',
 'The Well of Ascension',
 'The Hero of Ages',
 'Words of Radiance',
 'Warbreaker']

In [11]:
crappy_books = [
    'Twilight Saga: New Moon',
    'Twilight Saga : Eclipse',
    'The Wheel of Time',
    'The Great Hunt'
]
crappy_books

['Twilight Saga: New Moon',
 'Twilight Saga : Eclipse',
 'The Wheel of Time',
 'The Great Hunt']

In [12]:
#to copy at the end
books.extend(crappy_books)

In [13]:
books

['The Final Empire',
 'The Way of kings',
 'The Well of Ascension',
 'The Hero of Ages',
 'Words of Radiance',
 'Warbreaker',
 'Twilight Saga: New Moon',
 'Twilight Saga : Eclipse',
 'The Wheel of Time',
 'The Great Hunt']

In [14]:
nums=[1,2,3]
more_nums=[4,5,6,7]
nums.extend(more_nums)
print(nums)

[1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

In [15]:
num_matrix=[nums,nums,nums]
num_matrix

[[1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7]]

In [16]:
nums.extend(more_nums)

In [18]:
all_num=nums+more_nums
all_num

[1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7, 4, 5, 6, 7]

In [21]:
list=[]
for i in range (5):
   list.append(input("enter value"))

print(list)

['2', '3', '4', '5', '6']

In [27]:
#take 5 inputs and display total and numbers in a list
#by default list takes string input 
list=[]
for i in range (5):
    list.append(int(input("enter value")))
print(list)
print(f'total:{sum(list)}')

[1, 2, 3, 4, 5]
total:15

In [28]:
books

['The Final Empire',
 'The Way of kings',
 'The Well of Ascension',
 'The Hero of Ages',
 'Words of Radiance',
 'Warbreaker',
 'Twilight Saga: New Moon',
 'Twilight Saga : Eclipse',
 'The Wheel of Time',
 'The Great Hunt']

In [30]:
books.remove('The Way of kings')

['The Final Empire',
 'The Well of Ascension',
 'The Hero of Ages',
 'Words of Radiance',
 'Warbreaker',
 'Twilight Saga: New Moon',
 'Twilight Saga : Eclipse',
 'The Wheel of Time',
 'The Great Hunt']

In [37]:
def safe_remove(val_to_remove):
    if val_to_remove in books:
        books.remove(val_to_remove)
        print(f'{val_to_remove} removed from list')
    else:
        print(f'{val_to_remove} not found in list')
books
safe_remove('The Great Hunt')

The Great Hunt not found in list

In [38]:
#pop

books.pop()#removes the last element
#return type is the last element of the list

'The Wheel of Time'

In [42]:
books.pop(1)#remove at index 1
print(books)

SyntaxError: unexpected character after line continuation character (1003731247.py, line 2)

In [43]:
books.clear()
print(books)

[]

In [ ]:
del a #to delete a variable from the memory and cant be accessed i.e. free

In [1]:
x=['a1','b2','a1','a1','b2']
#find out no of occurances
print(x.count('a1'))
print(x.count('b2'))

3
2

In [4]:
#Sorting happens only when the type of the elements is same
#mixed data cant be sorted
x.sort()
x
x.sort(reverse=True)
x

['b2', 'b2', 'a1', 'a1', 'a1']

In [5]:
#to reverse a list
a=[1,2,3,4,5]
a.reverse()
a

[5, 4, 3, 2, 1]

### Sort function

In [7]:
words=['app','apple','avocado','aeroplane','association']
words.sort()#alphabetuc
print(words)
words.sort(reverse=True) #reverse sort
print(words)
words.sort(key=len)#sort acc to length
print(words)
words.sort(key=len , reverse=True)#descending length
print(words)

['aeroplane', 'app', 'apple', 'association', 'avocado']
['avocado', 'association', 'apple', 'app', 'aeroplane']
['app', 'apple', 'avocado', 'aeroplane', 'association']
['association', 'aeroplane', 'avocado', 'apple', 'app']

### Index and Copy function

In [8]:
words.index('avocado') #returns the index of the first occurence of the element
#search for the exact element and not a substring in another string

2

#### is is used to check if both are same object of same memory location

In [14]:
words=['app','apple','avocado','aeroplane','association']
words_copy1=words#copy by reference 
#saves the memory location of the variable of list
#gives same dat, changes reflected both places 
#not used much
#for different memory location copy use 

words_copy2=words.copy() #copy by value
#check is done
print(words_copy1 is words)
print(words_copy2 is words)
words=['change','the', 'words']
print(words_copy1 is words)
print(words_copy2 is words)

True
False
False
False

generating a list of numbers from existing list

In [17]:
x=[1,2,3,4,5]
y=[]
for i in x:
    y.append(i**2)
print(y)
#we cannot update list items directly, use append()

#can be done in 1 line using Comprehension

[1, 4, 9, 16, 25]

## List Comprehension
```
syntax:
new_list=[operation for item in existing_list]
```
list comprehension with condition

```
new_list=[operation  from item in list if expression]
```

In [18]:
x2=[i for i in x] # x1 se ek value 1 me aegi and i jaega x2 me
print(x2)
x2=[i**2 for i in x] # x1 se ek value 1 me aegi and i jaega x2 me
print(x2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [19]:
a=[1,2,3,4,5,6,7,8,9,10]
a_odd= [i for i in a if i%2!=0]
print(a)
print(a_odd)
#to make a list from list we need comprehension 
# for printing no need

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [20]:
a=[1,2,3,4,5,6,7,8,9,10]
a_= [i**3 for i in a if i%2==0]
print(a_)

[8, 64, 216, 512, 1000]